<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/administrador.css">
</head>
<body>
    <header class="container-all flex-vert">
        <div class="container-big flex-hori">
            <div>
                <a href="/">
                    <img src="/image/pngs/logo.jpg" alt="Logo" class="logo-topo" />
                </a>
            </div>
        </div>
    </header>
    <div class="login-container1">
        <h2>Administrador</h2>
        <form id="loginForm">
            <input type="text" id="login1" placeholder="Login" required><br>
            <input type="password" id="senha1" placeholder="Senha" required><br>
            <input type="submit" value="Login">
        </form>
    </div>   

    <script src="/js/administrador.js"></script>
</body>
</html>
