<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/administrador.css">
</head>
<body>
    <div class="login-container">
        <h2>Admin</h2>
        <form id="loginForm">
            <input type="text" id="login" placeholder="Login" required><br>
            <input type="password" id="senha" placeholder="Senha" required><br>
            <input type="submit" value="Login">
        </form>
    </div>   

    <script src="/js/administrador.js"></script>
</body>
</html>
