<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/style-animations.css" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>UNILife - Inicio</title>
</head>

<body>
    <header class="container-all flex-vert">
        <div class="container-big flex-hori">
            <div>
                <a href="index.html">
                    <img src="/image/pngs/logo.jpg" alt="Logo" class="logo-topo" />
                </a>
            </div>

            <nav class="links-topo">
                <a href="#sobre">Sobre</a>
                <a href="#contato">Contato</a>
                <a href="#" data-toggle="modal" data-target="#loginModal">Login</a>
                <a href="/cadastro">Registrar</a>
            </nav>
        </div>
    </header>
    <main class="flex-vert container-all">
        <section id="banner" class="container-all flex-hori">
            <div class="container-big">
                <h1>
                    CLÍNICA UNILIFE<br />
                    AQUI A GENTE CUIDA DE VOCÊ!
                </h1>
            </div>
        </section>

        <section id="sobre" class="container-small flex-vert">
            <div>
                <h2>Sobre a clínica</h2>
                <p>
                    Nossa clínica está pronta para receber nossos pacientes
                    através de uma excelente estrutura, comodidade e com a
                    segurança de que você precisam.
                </p>
            </div>
            <div class="flex-hori">
                <img src="/image/pngs/medico.png" alt="Medico" class="hidden" />
                <div class="div-lista">
                    <h3 class="titulo-lista">
                        AQUI NA NOSSA CLÍNICA VOCÊ VAI ENCONTRAR:
                    </h3>
                    <ul>
                        <li>
                            Horário flexível. Atendemos de segunda à sábado.
                        </li>
                        <li>Estacionamento amplo com 600 vagas.</li>
                        <li>Sala de espera com TV e WiFi.</li>
                        <li>Agendamento pelo telefone ou WhatsApp</li>
                        <li>Excelente localização</li>
                        <li>Entrega de exames em sua residência</li>
                    </ul>
                </div>
            </div>
        </section>
        <section id="especialidades" class="container-big flex-vert">
            <div>
                <h3>Uma clínica de multiespecialidades</h3>
                <p>
                    Nossa clínica possui diversas especialidades. Como
                    ortopedia, pediatria, geriatria,<br />
                    psicologia, fisioterapia e outros.
                </p>
            </div>

            <div class="img-areas flex-hori">
                <figure class="shadow-pop-tl">
                    <img src="/image/pngs/ortopedia1.png" alt="Imagem de um ortopedista" title="Imagem de um ortopedista" />
                    <figcaption><strong>Ortopedia</strong></figcaption>
                </figure>

                <figure class="shadow-pop-tl">
                    <img src="/image/pngs/pediatra.png" alt="Imagem de uma pediatra" title="Imagem de uma pediatra" />
                    <figcaption><strong>Pediatria</strong></figcaption>
                </figure>

                <figure class="shadow-pop-tl">
                    <img src="/image/pngs/geriatra.png" alt="Imagem de uma geriatra" title="Imagem de uma geriatra" />
                    <figcaption><strong>Geriatria</strong></figcaption>
                </figure>
            </div>

            <div class="btn-horarios flex-hori">
                <a href="" target="_blank">Ver Horários</a>
            </div>
        </section>
        <section id="contato" class="container-big flex-vert">
            <div class="container-small">
                <h3>Contato</h3>
                <p>
                    Nossa clínica médica está aberta de
                    <strong>segunda à sábado das 6:00 às 21:00</strong>
                </p>
                <p>
                    Através do telefone/WhatsApp
                    <strong>(85) 99966-5555</strong> você pode fazer o
                    agendamento de consultas e exames.
                </p>
                <p>
                    Estamos localizados em:
                    <strong>R. Carneiro da Cunha, 180 - Jacarecanga, Fortaleza - CE
                    </strong>
                </p>
            </div>
            <div class="mapa">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3981.3929166833177!2d-38.545579625439046!3d-3.7241990431499215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7c749bb733134a7%3A0x76da9a5f2841a532!2sUnifametro%20-%20Campus%20Carneiro%20da%20Cunha!5e0!3m2!1spt-BR!2sbr!4v1712197576524!5m2!1spt-BR!2sbr"
                    width="100%" height="350" frameborder="0" style="border: 0" allowfullscreen></iframe>
            </div>
        </section>
    </main>
    <footer class="container-all flex-vert">
        <div class="flex-vert">
            <img src="/image/pngs/logo.jpg" alt="Logo" />
            <p>Telefone e Whatsapp: (85) 99966-5555</p>
            <p>
                Endereço: R. Carneiro da Cunha, 180 - Jacarecanga, Fortaleza - CE
            </p>
            <p>
                &copy;2024 Clinica UNILife - todos os direitos reservados
            </p>
        </div>
    </footer>

    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Selecione seu Perfil</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-6 text-center">
                                <a href="/login" class="btn btn-success btn-lg btn-block my-2">Sou Paciente</a>
                                <a href="/recep" class="btn btn-success btn-lg btn-block my-2">Sou Recepcionista</a>
                                <a href="/medicologin" class="btn btn-success btn-lg btn-block my-2">Sou Médico</a>
                                <a href="/admin" class="btn btn-success btn-lg btn-block my-2">Sou Administrador</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
